.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    font-weight: bolder;
    align-self: flex-start;
}

.card-container {
    display: flex;
    padding: 20px;
    width: 600px;
    flex-wrap: wrap;
}
